
<div class="navigation-bar">
  <nav>
    <a [routerLinkActive]="'active'" [routerLink]="'' " [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/About'">About</a>
    <a [routerLinkActive]="'active'" [routerLink]="'/Services'">Service</a>
    <a  [routerLinkActive]="'active'" [routerLink]="'/Courses'">Courses</a>    
    <a  [routerLinkActive]="'active'" [routerLink]="'/Contact'" >Contact</a>    

    <!-- <a [routerLinkActive]="'active'" [routerLink]="'/Buy'">Buy</a> -->
    <div style="float: right;">
      <button (click)="login()">Login</button>
      <button (click)="logout()">Logout</button>
     
      
    </div>
  
    <!-- <a href="**">Contact</a> -->
    
  </nav>

</div>
<div>
  <!-- <app-first></app-first>
  <app-second></app-second>
  <app-third></app-third> -->
  <router-outlet></router-outlet>
</div>
